<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<form action="/person/add" method="get">
    Name:         <input type="text" name="name"><br>
    Jahreslohn:   <input type="number" name="jahreslohn"><br>
    Kontaktdaten: <input type="email" name="kontaktdaten"><br>
    Skills:       <input type="text" name="skills"><br><br>
    Vergangene Projekte: <input type="text" name="vergangeneProjekte"><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>